body {
    font-family: "Lato", sans-serif;

}

/*header*/ 

    #header {
        color: #d4e0ef;
        cursor: default;
        height: 3.25em;
        left: 0;
        line-height: 3.25em;
        position: fixed;
        text-align: right;
        top: 0;
        width: 100%;
        z-index: 10001;
        background-color: black;
        opacity:;
    }

    #header .main {
            margin: 0 auto;
            position: relative;
            
            }

    #header .logo {         
            display: inline-block;          
            left: 0;            
            width: 10%;
            height: 55px;
            position: absolute;         
            top: 0;     
            margin-left: 60px;:     
        }

    #header a {
            
            display: inline-block;
            padding: 0 0.75em;
            color: inherit;
            text-decoration: none;
            font-size: .8em;
        }

    #header a:hover {
                color: #ffffff;
            }

    #header a:last-child {
                padding-right: 0;
            }
    #header .imglg{
        width: 90%;
        height: 50px;
    }

    #header #nav{
            
            width: 80%; 
            margin-left: 18%;   
        }

 a.backnext {
    
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;

}

a.backnext:hover {
    background-color: transparent;
    color: black;
}       







.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 3.2em;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dropbtn {
    background-color: transparent;
    color: white;
    
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {background-color:#ff9f0f;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
}

#main {
    
    margin-top: 3.2em;
    background-image: url("back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

#mainbody{
    
    border: 1px solid #ccc;
    background-color: #ffffff;
    height: 800px;
    margin: 0 auto;
    text-align: left;
    width: 805px;
    position: relative;
    
}
#topic{
    
    background-color:#bfff7f;
    height:1cm;
    margin: 0 auto;
    position: relative;
}
.modules{
    
    background-color: #ffffff;
    color : #ffffff; 
    padding :-2px; 
    width : 750px; 
    height : 680px; 
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;


}

ul li {
    background: #f3f4f2;
    width: inherit;
    height: 1cm;
    padding: 20px 10px 2px 10px;

    
}

ul a{
    text-decoration: none;
    font-size: 18px;
}
ul a:hover{
    color: blue;
}

/* The Modal (background) */

.modalbody{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    top: 0;
    width:810px; /* Full width */
    height: 800px; /* Full height */
    
    background-color: #f7f7f7;
    
    
    margin: 3.2em auto auto 16.55em;
}
.modal {
    
    
    
    
    width:801px; /* Full width */
    height: 540px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:#ffffff;
    border: 1px solid #ccc;
    
    margin: 0.9em auto;



}

/* The Close Button */
.close {
    color: #FE0112;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}






h2{
    padding:0.1em;
}


/* Footer */

    #footer .main {
            border-top: 1px solid #dbdbdb;
            padding-top: 3em;
        }

    #footer .copyright {
        color: #bbb;
        font-size: 0.8em;
        margin: 0 0 2em 0;
        padding: 0;
        
        }

        #footer .copyright a {
            color: #bbb;
            text-decoration: none;
        }

            #footer .copyright a:hover {
                color: #bbb;
                text-decoration: underline;
            }

            #footer .copyright a:hover {
                color: #bbb;
                text-decoration: underline;
            }

            .icon {
                text-decoration: none;
                border-bottom: none;
                position: relative;
            }

    .icon > .label {
            display: none;
        }



        ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
            margin-left: 50%;
        
        }

            ul.icons li {
                display: inline-block;
                padding: 0 1em 0 0;
            }

                
                a {
                    color: #5385c1;    
                    }

            #footer ul.icons li .icon {
                font-size: 2em;
            }



.slide{
    width: 100px;
    height: 800px;
    background-color: black;

}

