body
{
  font: 15px/29px 'Lucida Grande', times, sans-serif;
  color: #01021E;
  background:#FFFFFF;
  background-position: 100%;
  font-family: "Times New Roman", Times, serif;


}

input, textarea, select, label
{
  font-family: inherit;
  font-size: 14px;
}

.login
{
  margin: 100px auto;
  padding: 28px 50px;
  width: 200px;
  background: #213263;
  background-clip: padding-box;
  border: 1px solid #172B4E;
  border-bottom-color: #142647;
  border-radius: 9px;


  >h1
  {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(black, .4);
  }
}

.login-input {
  display: block;
  width: 130%;
  margin-bottom: 20px;
  padding: 3 floor;
  color: white;
  background: #121A26;
  border: 2px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 8px;

}

.login-submit {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #294779;
  text-align: center;
  text-shadow: 0 1px rgba(white, .3);
  background: #adcbfa;
  background-clip: padding-box;
  border: 1px solid #030408;
  border-bottom-color: #040109;
  border-radius: 4px;
  cursor: pointer;
}

.login-help {
  text-align: center;


  > a {
    font-size: 11px;
    color: #030407;
    text-decoration: none;
    text-shadow: 0 -1px rgba(black, .4);


  }
}